x64
JFKMarioWorld.filters
JFKMarioWorld.user
JFKMarioWorld.vcxproj.filters
JFKMarioWorld.vcxproj.user
*.log
*.tlog
*.obj
*.pdb
pch.cpp
pch.h
*.filters
snes_spc/ZERO_CHECK.vcxproj
snes_spc/CMakeFiles/TargetDirectories.txt
snes_spc/CMakeFiles/generate.stamp.list
snes_spc/CMakeFiles/generate.stamp.depend
snes_spc/CMakeFiles/generate.stamp
snes_spc/CMakeFiles/dbe1ffbe4a5060776ab74ddaa150b328/generate.stamp.rule
snes_spc/CMakeFiles/cmake.check_cache
snes_spc/CMakeFiles/3.18.0/VCTargetsPath.txt
snes_spc/CMakeFiles/3.18.0/CompilerIdCXX/CompilerIdCXX.vcxproj
snes_spc/CMakeFiles/3.18.0/VCTargetsPath.vcxproj
snes_spc/CMakeFiles/3.18.0/CompilerIdCXX/CompilerIdCXX.exe
snes_spc/CMakeFiles/3.18.0/CompilerIdCXX/CMakeCXXCompilerId.cpp
snes_spc/CMakeFiles/3.18.0/CompilerIdC/CompilerIdC.vcxproj
snes_spc/ALL_BUILD.vcxproj
snes_spc/cmake_install.cmake
snes_spc/CMakeFiles/3.18.0/CMakeCCompiler.cmake
snes_spc/CMakeCache.txt
*.cmake
*.bin
*.exe
snes_spc/CMakeFiles/3.18.0/CompilerIdC/CMakeCCompilerId.c
snes_spc/.vs/snes_spc/v16/.suo
*.db
*.user
snes_spc/Release/snes_spc.lib
